h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

.entryBox {
 position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 40px;
}

.inputField {
    height: 20px;
    width: 
}