.firstWord {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 10px;
    color: lightgray;
}

.mainTable {
    margin: auto;
    margin-bottom: 40px;
}

td {
    vertical-align: top;
    font-family: 'Courier New', Courier, monospace;
}

.smallerCell {
    outline-style: none;
    padding: 5px;
    width: 60px;
    height: 20px;
    background-color: lightgray;
}

.smallerCellComplete {
    outline-style: none;
    padding: 5px;
    width: 60px;
    height: 20px;
    background-color: yellow;
}

.smallerCellAllComplete {
    outline-style: none;
    padding: 5px;
    width: 60px;
    height: 20px;
    background-color: lime;
}



.smallerCell2 {
    outline-style: none;
    padding: 5px;
    width: 60px;
    height: 20px;
    background-color: lightgray;
}

.smallerCell2Complete {
    outline-style: solid;
    padding: 5px;
    width: 60px;
    height: 20px;
    background-color: yellow;
}

.smallerCell2AllComplete {
    outline-style: solid;
    padding: 5px;
    width: 60px;
    height: 20px;
    background-color: lime;
}

table {
    margin: 5px;
    /* border-collapse: collapse; */
}

.line {
    background-color: white;
    height: 20px;
    width: 2px;
    margin: auto;
}

.spacerHidden {
    display: none;
}

.spacer {
}

/* Game concept addition: for hints, add index position as number for change for dist2 */